.jumbotron {
  padding-top: 8rem;
  background-color: #ffff;
}
#biodata {
  padding-top: 15rem;
}
#sekolah {
  padding-top: 10rem;
}
#kontak {
  padding-top: 8rem;
}
.foot {
  padding-top: 3rem;
}
